html {
  background: url("../img/cupcake.jpg") no-repeat center center fixed;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p.title {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

img {
  border: 10px solid purple;
  padding: 10px;
  background-color: pink;
}
